{% extends 'base.html' %} {% block content %}

<h1>{{ shop }}</h1>
<p>By {{ name }} - {{ class }}</p>

<h5>Halo {{ user }}!</h5>
<p>
    Sesi terakhir login: {{ last_login }}
    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>
</p>

{% if not shops %}
<p>Belum ada data shop!</p>
{% else %}
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Rating</th>
    </tr>

    {% for shop in shops %}
    <tr>
        <td>{{shop.name}}</td>
        <td>{{shop.price}}</td>
        <td>{{shop.description}}</td>
        <td>{{shop.rating}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_shop' %}">
    <button>Add New Shop</button>
</a>

{% endblock content %}
