{% extends 'base.html' %} {% block content %}

<h1>{{ shop }}</h1>
<p>By {{ name }} - {{ class }}</p>

{% if not shops %}
<p>Belum ada data shop!</p>
{% else %}
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Rating</th>
    </tr>

    {% for shop in shops %}
    <tr>
        <td>{{shops.name}}</td>
        <td>{{shops.price}}</td>
        <td>{{shops.description}}</td>
        <td>{{shops.rating}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_shop' %}">
    <button>Add New Mood Entry</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:logout' %}">
    <button>Logout</button>
</a>

{% endblock content %}
