{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div></div>

{% if not products %}
<div class="p-2">
    <div class="card text-center">
        <div class="card-header">Oh no</div>
        <div class="card-body">
            <img
                src="{% static 'image/pib_sad.webp' %}"
                class="card-img-top w-25"
                alt="Puss In Cat: Sad Image"
            />
            <p class="card-text">
                Tidak ada produk. Tambahkan untuk menampilkan produk disini
            </p>
            <a href="{% url 'main:create_product' %}" class="btn btn-primary">
                Produk baru
            </a>
        </div>
    </div>
</div>
{% else %}
<div class="p-2">
    <div class="card">
        <div class="card-header">Oh no</div>
        <div class="card-body">
            {% for product in products %}
            <div class="card" style="width: 18rem">
                <!-- <img src="..." class="card-img-top" alt="..." /> -->
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <hl />
                    <p class="card-text">
                        {{ product.description }}
                        <br />
                        <span>{{ product.price }} | {{ product.rating }}/5</span>
                    </p>
                    <p></p>
                    <div class="d-flex flex-row-reverse gap-2">
                        <a
                            href="{% url 'main:edit_product' product.id %}"
                            class="btn btn-outline-primary"
                            >Edit</a
                        >
                        <a
                            href="{% url 'main:delete_product' product.id %}"
                            class="btn btn-outline-danger"
                            >Delete</a
                        >
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="p-2">
            <a href="{% url 'main:create_product' %}" class="btn btn-primary">
                Produk baru
            </a>
        </div>
    </div>
</div>
{% endif %} {% endblock content %}
